.container {
  width: 600px;
  min-height: 400px;
  padding: 20px;
  margin: 30px auto;
  color: black;
  border-radius: 4px;
  min-width: 300px;
}

.App-header {
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  background-color: #75d9fa;
  border-radius: 10px;
}

.footer {
  margin: 0 auto;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer p {
  text-align: center;
}
